.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-rdwwr5b7gn2M);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-L4g0talOfsoi);
  font-family: var(--token-Nd6XMINXRIci);
  font-size: var(--token-yPScg9sPsjXs);
  line-height: var(--token-V2AjLoeJSSuS);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Nb5qrD9NwUUy);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-oF2hXrOEMHrZ);
  outline-offset: 1px;
  outline-color: var(--token-rdwwr5b7gn2M);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-vc2t2F10O1tg);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-PghIk9DExMMj);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-WUUlw-h9Zajj);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-lV4Ol-WWvrO8);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-4JMXwg1SlOc-);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-cuBgeq04Vjmz);
  font-size: var(--token-Ekf3Z4l6ukTl);
  column-gap: var(--token-oF2hXrOEMHrZ);
  row-gap: 0px;
  border-radius: var(--token-Np0Zp8aV80rB);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-Ekf3Z4l6ukTl);
  line-height: var(--token-cuBgeq04Vjmz);
  column-gap: var(--token-Np0Zp8aV80rB);
  row-gap: 0px;
  border-radius: var(--token-Np0Zp8aV80rB);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-CQeNAziVBewJ);
  line-height: var(--token-eDj4893REir2);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-CQeNAziVBewJ);
  line-height: var(--token-eDj4893REir2);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-7HU49m7XxOyV);
  border-radius: var(--token-Nb5qrD9NwUUy);
}
.softBackgroundcolor_neutral {
  background: var(--token-wI1GGM-EwQsg);
}
.softBackgroundcolor_muted {
  background: var(--token-AmW5wdfzsbPb);
}
.softBackgroundcolor_success {
  background: var(--token-Ro6DehrgamEZ);
}
.softBackgroundcolor_warning {
  background: var(--token-7LC-2Y9o3mB-);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-SKooTczpnvyz);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Nb5qrD9NwUUy);
  border: 0px solid var(--token-byCNtDy_i7fT);
}
.bordercolor_neutral {
  border-color: var(--token-1GobbGslIVeS);
}
.bordercolor_muted {
  border-color: var(--token-NAI7O0TKWZQh);
}
.bordercolor_success {
  border-color: var(--token-P0h75GibbHaI);
}
.bordercolor_warning {
  border-color: var(--token-GZNS3QScB_aU);
}
.bordercolor_errorDestructive {
  border-color: var(--token-FwX4YcS5JALJ);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Nb5qrD9NwUUy);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-48McP7e_U8gk);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-1ToB2Khs7XvE);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-I_Pcisu4ZBfs);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__omyDf {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-Nb5qrD9NwUUy) var(--token-je4G75PuFEj4);
}
.freeBox__omyDf > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-Nb5qrD9NwUUy));
  width: calc(100% + var(--token-Nb5qrD9NwUUy));
}
.freeBox__omyDf > :global(.__wab_flex-container) > *,
.freeBox__omyDf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__omyDf > :global(.__wab_flex-container) > picture > img,
.freeBox__omyDf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Nb5qrD9NwUUy);
}
.freeBoxsize_extraSmall__omyDfh5YrK {
  padding: var(--token-Np0Zp8aV80rB) var(--token-Nb5qrD9NwUUy);
}
.freeBoxsize_small__omyDfgva1W {
  padding: var(--token-Nb5qrD9NwUUy) var(--token-L4g0talOfsoi);
}
.freeBoxsize_large__omyDFwqLb {
  padding-top: var(--token-Np0Zp8aV80rB);
  padding-bottom: var(--token-Np0Zp8aV80rB);
}
.freeBoxsize_extraLarge__omyDfd3P1T {
  padding-left: var(--token-XmVjD1NiP9Ya);
  padding-right: var(--token-XmVjD1NiP9Ya);
}
.freeBoxroundedFull__omyDfzmPeC {
  padding-right: var(--token-XmVjD1NiP9Ya);
  padding-left: var(--token-XmVjD1NiP9Ya);
}
.freeBox__duLPn {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__duLPnaemak {
  display: flex;
}
.slotTargetStart {
  color: var(--token-cwq2vgOwYV93);
}
.slotTargetStartcolor_neutral {
  color: var(--token-z3XOiQFucA8t);
}
.slotTargetStartcolor_muted {
  color: var(--token-753Is1JCSfY-);
}
.slotTargetStartcolor_success {
  color: var(--token-VTPxXAruVFWX);
}
.slotTargetStartcolor_warning {
  color: var(--token-y2IQ95rC5DUf);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Eo1eUUuzaBOa);
}
.slotTargetStarttype_soft {
  color: var(--token-FeT5EqZZ1rQA);
}
.slotTargetStarttype_bordered {
  color: var(--token-FeT5EqZZ1rQA);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-Ekf3Z4l6ukTl);
}
.slotTargetStartsize_small {
  font-size: var(--token-Ekf3Z4l6ukTl);
}
.slotTargetStartsize_large {
  font-size: var(--token-CQeNAziVBewJ);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-CQeNAziVBewJ);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-KhQ44rSbA0Z3);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-KhQ44rSbA0Z3);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-ce3kb4CV3RtA);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-ce3kb4CV3RtA);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-yw5BjfV1Xsos);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-yw5BjfV1Xsos);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-MNlFNa3SgkeL);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-MNlFNa3SgkeL);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-bAwCsFqCLNkj);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-bAwCsFqCLNkj);
}
.svg__uLxAk {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-cwq2vgOwYV93);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-z3XOiQFucA8t);
}
.slotTargetLabelcolor_muted {
  color: var(--token-753Is1JCSfY-);
}
.slotTargetLabelcolor_success {
  color: var(--token-VTPxXAruVFWX);
}
.slotTargetLabelcolor_warning {
  color: var(--token-y2IQ95rC5DUf);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Eo1eUUuzaBOa);
}
.slotTargetLabeltype_soft {
  color: var(--token-FeT5EqZZ1rQA);
}
.slotTargetLabeltype_bordered {
  color: var(--token-FeT5EqZZ1rQA);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-KhQ44rSbA0Z3);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-ce3kb4CV3RtA);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-KhQ44rSbA0Z3);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-yw5BjfV1Xsos);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-ce3kb4CV3RtA);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-MNlFNa3SgkeL);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-yw5BjfV1Xsos);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-bAwCsFqCLNkj);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-MNlFNa3SgkeL);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-bAwCsFqCLNkj);
}
.text__eo0Sd {
  white-space: pre;
}
.freeBox__d8Agb {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__d8AgbjZ2C {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-cwq2vgOwYV93);
}
.slotTargetEndcolor_neutral {
  color: var(--token-z3XOiQFucA8t);
}
.slotTargetEndcolor_muted {
  color: var(--token-753Is1JCSfY-);
}
.slotTargetEndcolor_success {
  color: var(--token-VTPxXAruVFWX);
}
.slotTargetEndcolor_warning {
  color: var(--token-y2IQ95rC5DUf);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Eo1eUUuzaBOa);
}
.slotTargetEndtype_soft {
  color: var(--token-FeT5EqZZ1rQA);
}
.slotTargetEndtype_bordered {
  color: var(--token-FeT5EqZZ1rQA);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-Ekf3Z4l6ukTl);
}
.slotTargetEndsize_small {
  font-size: var(--token-Ekf3Z4l6ukTl);
}
.slotTargetEndsize_large {
  font-size: var(--token-CQeNAziVBewJ);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-CQeNAziVBewJ);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-KhQ44rSbA0Z3);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-KhQ44rSbA0Z3);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-ce3kb4CV3RtA);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-ce3kb4CV3RtA);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-yw5BjfV1Xsos);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-yw5BjfV1Xsos);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-MNlFNa3SgkeL);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-MNlFNa3SgkeL);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-bAwCsFqCLNkj);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-bAwCsFqCLNkj);
}
.svg__ifmj7 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
